In [ ]:
# Import Dependencies
import pandas as pd
#Import regex
import re

In [ ]:
#Define path to .csv file
abs_csv_path = "ABS_Table2.csv"

# Import the data into a Pandas DataFrame
abs_df = pd.read_csv(abs_csv_path)
abs_df.head()

In [ ]:
#Check for incomplete rows
abs_df.count()

In [ ]:
#Check data types
abs_df.dtypes

In [5]:
#Filtering the year
abs_lgas_df = abs_df.loc[abs_df["Year"] == 2016.0, :]

#Filtering the LGAs 
abs_melb_lgas = abs_lgas_df.loc[(abs_lgas_df["Label"] == "Melbourne (C)") | 
                                (abs_lgas_df["Label"] == "Port Phillip (C)") | 
                                (abs_lgas_df["Label"] == "Stonnington (C)") |
                                (abs_lgas_df["Label"] == "Yarra (C)") | 
                                (abs_lgas_df["Label"] == "Banyule (C)") |
                                (abs_lgas_df["Label"] == "Bayside (C)") |
                                (abs_lgas_df["Label"] == "Boroondara (C)") | 
                                (abs_lgas_df["Label"] == "Darebin (C)") |
                                (abs_lgas_df["Label"] == "Glen Eira (C)") |
                                (abs_lgas_df["Label"] == "Hobsons Bay (C)") | 
                                (abs_lgas_df["Label"] == "Kingston (C) (Vic.)") | 
                                (abs_lgas_df["Label"] == "Manningham (C)") |
                                (abs_lgas_df["Label"] == "Maribyrnong (C)") |
                                (abs_lgas_df["Label"] == "Monash (C)") |
                                (abs_lgas_df["Label"] == "Moonee Valley (C)") |
                                (abs_lgas_df["Label"] == "Moreland (C)") | 
                                (abs_lgas_df["Label"] == "Whitehorse (C)") | 
                                (abs_lgas_df["Label"] == "Brimbank (C)") | 
                                (abs_lgas_df["Label"] == "Cardinia (S)") |
                                (abs_lgas_df["Label"] == "Casey (C)") | 
                                (abs_lgas_df["Label"] == "Frankston (C)") | 
                                (abs_lgas_df["Label"] == "Greater Dandenong (C)") | 
                                (abs_lgas_df["Label"] == "Hume (C)") | 
                                (abs_lgas_df["Label"] == "Knox (C)") | 
                                (abs_lgas_df["Label"] == "Maroondah (C)") | 
                                (abs_lgas_df["Label"] == "Melton (C)") |  
                                (abs_lgas_df["Label"] == "Mornington Peninsula (S)") |
                                (abs_lgas_df["Label"] == "Nillumbik (S)") |
                                (abs_lgas_df["Label"] =="Whittlesea (C)") |
                                (abs_lgas_df["Label"] =="Wyndham (C)") |
                                (abs_lgas_df["Label"] =="Yarra Ranges (S)"), :]
abs_melb_lgas.head()

,Code,Label,Year,4 year olds enrolled in preschool or in a preschool program (no.),5 year olds enrolled in preschool or in a preschool program (no.),Total enrolled in preschool (no.),Enrolled in preschool program within a long day care centre (no.),Children enrolled across more than one provider type (no.),Total enrolled in a preschool program (no.),Children attending preschool for less than 15 hours (no.),...,Total population aged 15 years and over (no.),Managers (%),Professionals (%),Technicians and trades workers (%),Community and personal service workers (%),Clerical and administrative workers (%),Sales workers (%),Machinery operators and drivers (%),Labourers (%),Occupation of Employed Persons - Inadequately described (%)
795,20660,Banyule (C),2016.0,"1,413",550,994,763,212,"1,974",297,...,"99,850",13.6,30.2,12.2,10.1,14.8,8.7,3.1,5.8,1.5
813,20910,Bayside (C),2016.0,930,463,756,476,160,"1,399",232,...,"78,669",22.4,33.7,6.9,8.6,12.8,9.6,1.4,3.1,1.5
825,21110,Boroondara (C),2016.0,"1,424",665,"1,012",875,202,"2,092",250,...,"138,430",18.8,39.4,5.9,8.1,12.6,9.1,1.2,3.3,1.6
831,21180,Brimbank (C),2016.0,"2,246",550,"1,404","1,326",85,"2,818",675,...,"158,457",8.3,14.5,13.8,10.6,13.7,10.0,11.8,14.8,2.5
849,21450,Cardinia (S),2016.0,"1,404",606,"1,010",859,133,"2,006",419,...,"72,402",11.8,14.5,18.2,10.6,14.1,10.2,8.2,10.7,1.6

In [6]:
#Set index to LGAs
#abs_clean_lgas = alb_melb_lgas.set_index("Label")

#Replace column name "Label" to "LGAs"
abs_melb_lgas = abs_melb_lgas.rename(columns=
    {"Label": "LGAs"})
abs_melb_lgas.head()

#Remove text within parentheses
abs_melb_lgas["LGAs"] = abs_melb_lgas["LGAs"].str.replace(r"(\(.+\))","")
#Remove remaining whitespace from LGA name
abs_melb_lgas["LGAs"] = abs_melb_lgas["LGAs"].str.rstrip()

abs_melb_lgas

,Code,LGAs,Year,4 year olds enrolled in preschool or in a preschool program (no.),5 year olds enrolled in preschool or in a preschool program (no.),Total enrolled in preschool (no.),Enrolled in preschool program within a long day care centre (no.),Children enrolled across more than one provider type (no.),Total enrolled in a preschool program (no.),Children attending preschool for less than 15 hours (no.),...,Total population aged 15 years and over (no.),Managers (%),Professionals (%),Technicians and trades workers (%),Community and personal service workers (%),Clerical and administrative workers (%),Sales workers (%),Machinery operators and drivers (%),Labourers (%),Occupation of Employed Persons - Inadequately described (%)
795,20660,Banyule,2016.0,"1,413",550,994,763,212,"1,974",297,...,"99,850",13.6,30.2,12.2,10.1,14.8,8.7,3.1,5.8,1.5
813,20910,Bayside,2016.0,930,463,756,476,160,"1,399",232,...,"78,669",22.4,33.7,6.9,8.6,12.8,9.6,1.4,3.1,1.5
825,21110,Boroondara,2016.0,"1,424",665,"1,012",875,202,"2,092",250,...,"138,430",18.8,39.4,5.9,8.1,12.6,9.1,1.2,3.3,1.6
831,21180,Brimbank,2016.0,"2,246",550,"1,404","1,326",85,"2,818",675,...,"158,457",8.3,14.5,13.8,10.6,13.7,10.0,11.8,14.8,2.5
849,21450,Cardinia,2016.0,"1,404",606,"1,010",859,133,"2,006",419,...,"72,402",11.8,14.5,18.2,10.6,14.1,10.2,8.2,10.7,1.6
855,21610,Casey,2016.0,"4,213","1,345","2,984","2,380",222,"5,580","1,085",...,"231,449",10.2,15.0,16.3,10.9,14.6,10.3,9.5,11.3,1.8
879,21890,Darebin,2016.0,"1,579",533,662,"1,351",114,"2,105",359,...,"123,281",12.5,30.7,11.0,10.4,13.0,9.0,4.0,7.7,1.6
891,22170,Frankston,2016.0,"1,603",579,"1,105",946,123,"2,195",485,...,"109,114",11.0,16.4,17.2,11.8,14.0,11.2,6.9,9.9,1.7
903,22310,Glen Eira,2016.0,"1,655",640,703,"1,355",239,"2,290",223,...,"115,105",16.5,34.6,8.8,9.0,13.5,9.2,2.2,4.7,1.6
927,22670,Greater Dandenong,2016.0,"1,743",440,"1,306",823,58,"2,188",478,...,"124,599",7.7,13.5,15.5,10.7,11.4,9.5,12.1,17.2,2.4
957,23110,Hobsons Bay,2016.0,"1,069",388,624,779,84,"1,469",242,...,"72,429",14.3,24.7,12.4,9.4,14.4,8.6,6.6,7.7,1.8
969,23270,Hume,2016.0,"2,741",718,"1,665","1,667",126,"3,452","1,002",...,"153,462",9.5,14.1,15.4,12.0,14.8,10.5,10.6,11.1,2.0
981,23430,Kingston,2016.0,"1,656",596,"1,033","1,011",187,"2,240",387,...,"124,594",14.0,24.3,13.4,9.7,15.2,10.5,4.4,6.9,1.6
987,23670,Knox,2016.0,"1,575",618,"1,122",795,255,"2,187",357,...,"127,047",12.0,20.9,15.2,10.1,15.7,10.9,5.5,8.1,1.6
1011,24210,Manningham,2016.0,"1,047",393,721,596,125,"1,446",252,...,"97,529",16.8,28.5,10.5,8.9,14.4,11.1,2.6,5.6,1.7
1023,24330,Maribyrnong,2016.0,935,264,421,731,48,"1,188",243,...,"69,093",13.4,28.7,10.0,10.4,12.7,8.9,5.1,8.9,1.8
1029,24410,Maroondah,2016.0,"1,171",556,908,675,149,"1,731",359,...,"89,771",12.5,23.7,14.9,10.6,15.1,10.3,4.1,7.5,1.4
1035,24600,Melbourne,2016.0,587,143,142,589,8,737,116,...,"127,232",14.4,39.4,7.3,11.2,11.2,8.0,1.4,5.4,1.7
1041,24650,Melton,2016.0,"2,199",628,"1,607","1,054",163,"2,829",571,...,"102,097",10.3,14.8,14.8,11.0,15.8,10.6,10.7,10.0,2.0
1065,24970,Monash,2016.0,"1,780",524,"1,060","1,047",195,"2,300",340,...,"153,720",13.7,30.4,10.4,9.0,14.2,10.1,3.6,6.9,1.7
1071,25060,Moonee Valley,2016.0,"1,197",441,695,795,149,"1,628",232,...,"97,118",15.0,29.3,10.2,9.5,15.4,9.6,3.6,5.7,1.7
1083,25250,Moreland,2016.0,"1,694",566,995,"1,120",158,"2,266",416,...,"136,461",12.2,31.1,11.5,10.2,13.5,8.5,4.2,7.1,1.7
1089,25340,Mornington Peninsula,2016.0,"1,578",674,"1,228",905,145,"2,248",508,...,"128,156",14.1,18.8,17.7,11.8,12.0,10.8,4.1,9.0,1.6
1113,25710,Nillumbik,2016.0,680,296,440,429,99,966,182,...,"49,213",15.5,25.9,14.4,10.4,14.8,9.3,2.9,5.6,1.3
1125,25900,Port Phillip,2016.0,795,263,221,811,21,"1,047",118,...,"89,077",19.5,37.8,7.7,8.5,12.3,7.9,1.4,3.4,1.6
1155,26350,Stonnington,2016.0,731,316,516,456,57,"1,033",126,...,"90,965",18.9,39.8,6.1,8.1,12.3,9.0,1.1,3.0,1.7
1209,26980,Whitehorse,2016.0,"1,624",607,"1,132",881,212,"2,231",333,...,"134,835",13.9,31.8,10.2,9.7,13.9,9.8,2.8,6.4,1.5
1215,27070,Whittlesea,2016.0,"2,793",825,"1,882","1,578",156,"3,610",770,...,"155,311",9.7,16.2,15.4,11.4,14.8,11.1,8.9,10.7,1.8
1227,27260,Wyndham,2016.0,"3,678","1,019","2,485","1,897",328,"4,706","1,007",...,"163,311",10.7,18.5,12.7,11.2,15.3,9.7,10.6,9.4,1.9
1233,27350,Yarra,2016.0,695,209,184,652,57,897,156,...,"76,983",16.8,42.8,6.9,8.8,10.9,7.2,1.5,3.3,1.7
1239,27450,Yarra Ranges,2016.0,"1,547",774,"1,317",827,167,"2,309",874,...,"121,080",12.8,17.8,18.6,11.4,13.5,9.2,5.5,9.6,1.6

In [7]:
#Select columns to match the other DataFrame by Vineet
abs_lgas_clean_df = pd.DataFrame()
abs_lgas_clean_df["S.No"] = abs_melb_lgas["Code"]
abs_lgas_clean_df["LGAs"] = abs_melb_lgas["LGAs"]
abs_lgas_clean_df["Year"] = abs_melb_lgas["Year"]
abs_lgas_clean_df["Adult_Population"] = abs_melb_lgas["Total population aged 15 years and over (no.)"]
#abs_clean_df.set_index("S.No", inplace=True)
abs_lgas_clean_df = abs_lgas_clean_df.rename(columns=
    {"LGAs": "Local Government Area"})
abs_lgas_clean_df.head()

      S.No Local Government Area    Year Adult_Population
795  20660               Banyule  2016.0           99,850
813  20910               Bayside  2016.0           78,669
825  21110            Boroondara  2016.0          138,430
831  21180              Brimbank  2016.0          158,457
849  21450              Cardinia  2016.0           72,402

In [8]:
abs_lgas_clean_df.to_csv("ABS LGas Clean.csv", index=False, header=True)

In [9]:
# Import of Suburb list with price (exported from Jupyter Notebook 1)

suburb_list_df = pd.read_csv('LGA_final_summary.csv', low_memory=False)

suburb_list_df.head()

  Local Government Area  Average of Median Price  Median of Median Price
0               Banyule             8.421905e+05                722000.0
1               Bayside             1.336400e+06               1395500.0
2            Boroondara             1.754917e+06               1738000.0
3              Brimbank             4.934737e+05                490000.0
4              Cardinia             4.925909e+05                477500.0

In [10]:
# Merging of LGA data

lga_data_df = pd.merge(abs_lgas_clean_df, suburb_list_df, on="Local Government Area", how="right")
lga_data_df.head()

,S.No,Local Government Area,Year,Adult_Population,Average of Median Price,Median of Median Price
0,20660,Banyule,2016.0,"99,850",8.421905e+05,722000.0
1,20910,Bayside,2016.0,"78,669",1.336400e+06,1395500.0
2,21110,Boroondara,2016.0,"138,430",1.754917e+06,1738000.0
3,21180,Brimbank,2016.0,"158,457",4.934737e+05,490000.0
4,21450,Cardinia,2016.0,"72,402",4.925909e+05,477500.0

In [12]:
# Drop null rows
final_lga_data_df = lga_data_df.dropna()
final_lga_data_df.head()

,S.No,Local Government Area,Year,Adult_Population,Average of Median Price,Median of Median Price
0,20660,Banyule,2016.0,"99,850",8.421905e+05,722000.0
1,20910,Bayside,2016.0,"78,669",1.336400e+06,1395500.0
2,21110,Boroondara,2016.0,"138,430",1.754917e+06,1738000.0
3,21180,Brimbank,2016.0,"158,457",4.934737e+05,490000.0
4,21450,Cardinia,2016.0,"72,402",4.925909e+05,477500.0

In [13]:
# Write .csv
final_lga_data_df.to_csv("final_lga_demographic.csv")